.advantages {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  &__icon-wrapper {
    background: #f5f4fa;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }

  &__title {
    font-weight: 700;
    font-size: var(--main-font-size);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
  }

  &__desc {
    font-size: var(--main-font-size);
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--gray-color);
  }
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .advantages {
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 30px;
    }
    &__item {
      flex-basis: calc((100% - 1 * 30px) / 2);
    }
    &__title {
      text-align: left;
    }
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 47.5px;
    &__item {
      flex-basis: calc((100% - 3 * 30px) / 4);
    }
  }
}

// .advantages {
//   padding-bottom: 47.5px;

//   &__list {
//     display: flex;
//     flex-wrap: wrap;
//     column-gap: 30px;
//   }

//   &__item {
//     flex-basis: calc((100% - 3 * 30px) / 4);
//   }

// }
