.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--white-color);
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__close-btn {
    position: absolute;
    top: 1%;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__close-svg {
    fill: var(--gray-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__close-btn:hover .modal__close-svg,
.modal__close-btn:focus .modal__close-svg {
  fill: var(--accent-color);
}
