:root {
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --text-color: #212121;
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #757575;
  --transparent-color: rgba(255, 255, 255, 0.6);
  --main-font: "Roboto", sans-serif;
  --accent-font: "Raleway", sans-serif;
  --main-font-size: 14px;
  --secondary-font-size: 16px;
  --background-color-white: #ffffff;
  --background-color-darkest-white: #f5f5f5;
  --background-color-pink: #f5f4fa;
  --background-color-dark: #2f303a;
}
